:root {
	--background: hsl(210 16.7% 95.3%);
	--border: hsl(210 14% 83.1%);
	--text-1: hsl(210 10.3% 22.7%);
	--text-2: hsl(210 8.8% 31.4%);
}
@media (prefers-color-scheme: dark) {
	:root {
		--background: hsl(216 16.1% 6.1%);
		--border: hsl(210 10.8% 14.5%);
		--text-1: hsl(210 13.8% 88.6%);
		--text-2: hsl(210 10.8% 71%);
	}
}

html {
	/* font */
	--font-sans: -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Nimbus Sans L', Roboto,
		Noto, 'Segoe UI', Arial, Helvetica, Ubuntu, 'Helvetica Neue', sans-serif;
	--font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

html,
body {
	height: 100%;
}

html {
	font-family: var(--font-sans);
	color: var(--text-1);
	accent-color: var(--text-1);
	background-color: var(--background);
}

img {
	border-radius: 1rem;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}

/* ... */

.prose :is(h2, h3, h4, h5, h6) {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
	margin-top: 3rem;
}

.prose :is(ul, ol) {
	list-style-type: disc;
	padding-left: 2rem;
}

.prose p {
	text-wrap: pretty;
}

.prose {
	max-width: 65ch;
}

.prose :is(ul, ol) li::marker {
	color: var(--text-2);
}

.prose :is(ul, ol) li {
	margin-block: 1.1rem;
	padding-inline-start: 1.1rem;
}

.prose pre {
	max-inline-size: 100%;
	padding: 1rem;
	border-radius: 8px;
	tab-size: 2;
}

a {
	color: var(--text-1);
}
