---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---


<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="layout h-full grid grid-rows-[auto_1fr_auto] px-4">
    <Header />
    <main class="break-words">
      <slot />
    </main>
    <Footer />
  </body>
</html>
